

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/typo-slab-serif');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;


  
}
.container{
 min-width: 100% !important;

 padding-left: 50px !important;
 padding-right: 50px !important;
}

/*header*/

header{
    /*background-image:url(img/bg.jpg);*/
    background-color: #000;
    background-size: cover;
    background-position: center;
   
}

#top-header {
 
  background-color: rgba(0, 0, 0, 0.4);
    


    display: flex;
    flex-direction: row;

    justify-content: center;

    gap: 10vw;
    align-items: center; /* Adjusted to align vertically centered */
    border-bottom: 2px solid;
    padding: 10px;
    border-color: #C29A6D;
    ;
    margin: auto;
}
#top-header {
color: #fff;
}

#top-header{
    font-size: 1.4rem;
}

#logo {
    font-family: 'TypoSlabserif-Light', sans-serif;
                                                
    font-weight: 600;
 

                                                
}

#bot-header {
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items: center; /* Adjusted to align vertically centered */
    gap: 60px;
    background: #C29A6D;
   
   
    margin: auto;
}

#bot-header a {
    font-size: 0.8rem;
    padding: 5px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase; /* Adjusted to the appropriate font-weight value */
}

#bot-header a:link {
    color: #fff;
    text-decoration: none;
}

header img {

    max-width: 80px;
  
   
}


#bot-header a:hover {
transform: scale(1.1);
transition: 0.8s;
}

/* Fim do Header*/
.carroussel{

 overflow: hidden;

}

.container-100w img{
  width: 200%;
  overflow: hidden;

}

.container-100w{
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

img{
  object-fit: cover;
}

/*Carousel*/
.container-bg-carousel{
  position: relative;
  
}
.slide-1{
  background: url(img/fachada-real.jpg);
}
.slide-2{
  background: url(img/interior.jpg);
}

.slide-3{
  background: url(img/interior-buffet.jpg);
}
.slide-4{
  background: url(img/interior.jpg);
}
.slide-5{
  background: url(img/interior.jpg);
}
.slide-6{
  background: url(img/interior.jpg);
}
.slide-7{
  background: url(img/interior.jpg);
}
.slide-8{
  background: url(img/interior.jpg);
}
.slide-9{
  background: url(img/interior.jpg);
}
.slide-10{
  background: url(img/interior.jpg);
}

.slide{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  overflow-x: hidden;
}

.arrow img{
  width:50px ;
  padding: 10px;
 
}

.arrow:hover{
  background: rgba(0, 0, 0, 0.5);
}

.prev{
  left: 0;
}
.next{
  right: 0;
}

   /* carousel cardapio */


/*Fim do carousel*/

/*Parallax BG*/
section#img-parallax{
    min-width: 98.7vw;
    background-image: url(img/bg-cardapio.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


section#img-parallax1{
  min-width: 98.7vw;
  background-image: url(img/bg-price.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}



section#img-parallax2{
  min-width: 98.7vw;
  background-image: url(img/bg-cardapio2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;


}

section#img-parallax3{
  min-width: 98.7vw;
  background-image: url(img/bg-content.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;


}


section#img-parallax4{
  min-width: 98.7vw;
  background-image: url(img/bg-cardapio3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;


}
section#img-parallax5{
  min-width: 98.7vw;
  background-image: url(img/bg-cardapio4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;


}

section#img-parallax6{
  min-width: 98.7vw;
  background-image: url(img/bg-cardapio5.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;


}
/*FIM do Parallax BG*/

/*Placas dos titulos*/
.sign {
    display: flex;
    flex-direction: column;
    margin: 0;

    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  
    overflow-x: hidden;
  
}
.sign img{
  max-width: 20vw;
  text-align: center;
  margin: auto;
  display: block;
}
.arrow{
  position: absolute;

  top: 50%;
  transform: translateY(-50%) ;
  cursor: pointer;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: background 500ms;
  margin-left: 5vw;
  margin-right: 5vw;
}

/*Fim das placas dos titulos*/

/*Bloco Preços*/
.price-box{
    width: 50%;
  }
  
  .price-box h3{
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 3vh;
    
  }
  
  .price-box hr{
    border: 1px solid #7a7a7a;
    margin: 5px;
    
  }
  
  
  .price{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    
  }
  
  .price h6{
    color: #fff;
    font-size: 1rem;
  }
  
  .price p{
    color: #fff;
    font-size: 1.8rem;
  }
  
  .price a{
    color: #ffffff93;
    font-size: 0.8rem;
  }
  
   .price-info{
    display: flex;
    flex-direction:column ;
    max-width: 50%;
   
    
   }
  
  
  
   .price-box p {
    color: #ffffffe1;
    font-size: 0.8rem;
  
    text-align: end;
   }
  
  
   .price-box-container {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px 30px 20px;
    box-sizing: border-box;
    gap: 50px;
    vertical-align: top;
    

  }

  /* Fim do bloco preços*/

  /* Bloco de Promoções */

  .promotion-box{
    width: 100%;
    margin: 0;
    padding: 0;

  }




  .promotion-box h2{
    color: #000;
    font-weight: 600;
  }
    /*FIM do Bloco de Promoções */

    /*Bloco de cardápio*/
    .cardapio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        gap: 30px;
        min-width: 100%;
    }
    
    .container h2{
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        
    }
    
    
    
    .cardapio img{
        width: 80vw;
    }
    
    .carousel-cardapio{
        max-width: 80vw;
    }
    
    
    /* Teste carousel cardapio*/
    
    
      
      .info-cardapio-reverse h3{
        margin: 0;
    
       
        font-size: 1.5rem;
    
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
    
      }
     .title-cardapio{
      width: 100vw;
      margin: 0 auto;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
     }
     #diferenciais p{
      color: #000;
     }
    
      .info-cardapio-reverse h4{
        font-size: 1.3rem;
        text-align: end;
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
    
      }
    
      .info-cardapio-reverse p{
        font-size: 0.8rem;
        text-align: end;
        margin: 0;
        padding: 0;
    
      }
    
    
    
    
    #diferenciais{
      background-color: #fff;
    }
    
    #diferenciais{
      max-width: 60vw;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    .block-dif-1, .block-dif-2{
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    
    .block-dif-1 h4, .block-dif-2 h4{
    color: #000;
    text-transform: uppercase;
    }
    
    
    .info-cardapio h4{
      font-size: 1.3rem;
      text-align: start;
      text-transform: uppercase;
      font-family: 'Quicksand', sans-serif;
    
    }
    
    .info-cardapio p{
      font-size: 0.8rem;
      text-align: start;
      margin: 0;
      padding: 0;
    
    }
    
    
      .cardapio{
        padding: 20px;
    
    
      }
    
    .carousel-title h2 {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adicione sombra ao texto para melhorar a visibilidade */
    }

    .cardapio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 30px;
        max-width: 85vw;
    }
    
    .container h2{
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        
    }
    
    
    
    .cardapio img{
        width: 30vw;
    }
    
    .carousel-cardapio{
        width: 50vw;
    }
    

    /* Fim do bloco de Cardápio */

    /*Bloco avaliações*/

    .avaliacoes img{ 
      width: 90vw;

    }

    .avaliacoes a{
      background-color: #C29A6D;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    margin:20px;
 
    }
    .avaliacoes a:hover{
      transform: scale(1.1);
      transition: 0.5s;
 
    }

    .avaliacoes{
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    /* Bloco de conteudo*/

    .content{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }

    .content h2{
      font-size: 1.5rem;
    
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
    }

    .box-content-1 p {
      font-size: 0.9rem;
      text-align: justify;
      padding: 20px;
    }

    /*BLOCO ABOUT*/

    .about{
      display: flex;
      flex-direction: row;
      align-items:flex-start;
      padding: 30px;
      
      gap: 20px;
      

    }
    .about p{
      color: #000;
      font-family: 'Quicksand', sans-serif;
    }
    .about h3{
      color: #000;
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
      text-align: center;
    }
    .about img{
      max-width: 300px ;
    }
    .about img:hover{
      transform: scale(1.1);
      transition: 0.5s;
    }


    /*FIM BLOCO ABOUT*/



    /*FOOTER*/
    footer{
      background-color: #000;
      margin: 0;
      padding: 0;

    width: 100%;
    }

    footer img {

      max-width: 80px;
    
     
  }
  .top-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }